@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');
h1 {
  font-family: 'Chilanka', cursive;
  color: #650BF0;
  border: 10px outset Black; 
  padding: 5px; 
  margin: 20px;
}
p {
  font-style: Underline; 
  font-size: 20px; 
  font-family: 'Handlee', cursive;
}
body {
  background-image: url(https://github.com/linda080/Portfolio/blob/master/Random%20Image%20-%20Gradient%202.jpeg);
  backfround-repeat: no-repeat; 
  backfround-position: center;
  background-size: cover;
}

h2 {
  font-family: 'Patrick Hand', cursive; 
{
.hobbyheading {
  color: #B75AFF
}
  
